@media (max-width:560px) {
    .container {
        border: 2px solid black;
        margin: 10px;
        padding: 5px;
    }

    .square {
        border: 2px solid rgb(238, 45, 241);
        margin-bottom: 10px;
        padding: 5px;
        height: 150px;
        width: 100%;
        box-sizing: border-box;
    }
}

@media (min-width:960px) {
    .container {
        border: 2px solid black;
        margin: 10px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }

    .square {
        border: 2px solid rgb(238, 36, 255);
        margin-bottom: 0;
        width: 45%;
        height: 300px;
        box-sizing: border-box;



    }
}